<!DOCTYPE html>
<html>
<head>
  <meta charset="utf">
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
</head>
<body>
<div class="account">
    예금액 : <input type="text" v-model="amount" />
    <img v-show="amount < 0" src="http://sample2.bmaster.kro.kr/images/error.png"
        title="마이너스는 허용하지 않습니다."
        style="vertical-align:middle" />
</div>
<br>
<div class="account1">
    잔고 : <input type="text" v-model="balance" />
    <br>
    회원님의 등급 : 
    <span v-if="balance >= 1000000">Gold</span>
    <span v-else-if="balance >= 500000">Silver</span>
    <span v-else-if="balance >= 20000">Bronze</span>
    <span v-else>Basic</span>    
</div>
<div class="tablelist">
    <table class="list">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="contact in contacts">
                <td>{{contact.no}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.tel}}</td>
                <td>{{contact.address}}</td>
            </tr>
        </tbody>
    </table>
    <table class="list">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(contact, index) in contacts">
                <td>{{index+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.tel}}</td>
                <td>{{contact.address}}</td>
            </tr>
        </tbody>
    </table>
    <table class="list">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(contact, index) in contacts" v-if="contact.address.indexOf('서울')>-1">
                <td>{{index+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.tel}}</td>
                <td>{{contact.address}}</td>
            </tr>
        </tbody>
    </table>
    <table class="list">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(contact, index) in contacts">
                <tr :key="contact.no">
                    <td>{{contact.no}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.tel}}</td>
                    <td>{{contact.address}}</td>
                </tr>
                <tr class="divider" v-if="index % 5===4">
                    <td colspan="4"></td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
<div class="exmaple1">
    <select class="regions">
        <option disabled="disabled" selected>지역을 선택하세요</option>
        <option v-for="(val, key) in regions" :value="key">{{val}}</option>
    </select>
    <select class="regions">
        <option disabled="disabled" selected>지역을 선택하세요</option>
        <option v-for="(val, key, index) in regions" :value="key">{{index+1}} {{val}}</option>
    </select>
</div>
<div class="exmaple2">
    
</div>
<script type="text/javascript">
var simple = new Vue({
    el:'.account',
    data:{
        amount : 0
    }
});
var simple1 = new Vue({
    el:'.account1',
    data:{
        balance : 0
    }
});
var tablelist = {
    'pageno':1,
    'pagesize':10,
    'totalcount':100,
    'contacts':[
        { "no": 100,"name": "설현", "tel": "010-3456-8299", "address": "서울" },
        { "no": 99, "name": "혜리", "tel": "010-3456-8298", "address": "서울" },
        { "no": 98, "name": "하니", "tel": "010-3456-8297", "address": "경기" },
        { "no": 97, "name": "성소", "tel": "010-3456-8296", "address": "제주" },
        { "no": 96, "name": "지아", "tel": "010-3456-8295", "address": "서울" },
        { "no": 95, "name": "정연", "tel": "010-3456-8294", "address": "강원" },
        { "no": 94, "name": "쯔위", "tel": "010-3456-8293", "address": "경기" },
        { "no": 93, "name": "사나", "tel": "010-3456-8292", "address": "서울" },
        { "no": 92, "name": "모모", "tel": "010-3456-8291", "address": "충남" },
        { "no": 91, "name": "소진", "tel": "010-3456-8290", "address": "서울" }
    ]
}
var list = new Vue({
    el:'.tablelist',
    data:tablelist
})
var regions = {
    "A" : "Asia",
    "B" : "America",
    "C" : "Europe",
    "D" : "Africa",
    "E" : "Oceania"
}
var list1 = new Vue({
    el:'.exmaple1',
    data: {regions:regions}
})
</script>
<style>
.list  { width: 400px; border:1px solid black; border-collapse:collapse; }
.list td, .list th { border:1px solid black;  text-align:center; }
.list > thead > tr { color:yellow; background-color: purple; }
.divider{height:2px;background-color:gray;}
</style>
</body>
</html>
